
p {
  font-family: Recta-regular;
  font-size: 20pt;
  line-height: 110%;
}

a {
  color: black;
}
div {

}
#column_one {
 left: 1%;
 position: fixed;
 width: 20%;
 bottom: 0px;
}

#column_two {
  position: fixed;
  width: 20%;
  bottom: 0px;
  left: 25%;
  bottom: 0px;
}
#column_three {
  /*position: fixed;
  max-width: 49%;
  left: 50%;
  width: 50%;
  height: 85%;
  bottom: 14%;
  top: 1%;*/
}
img {
  position: fixed;
  width: auto;
  height: auto;
  max-width: 49%;
  max-height: 85%;
  left: 50%;

  bottom: 14%;
  top: 1.3%;
}

/*@media only screen and (max-width: 800pt) {
  p {
    font-size: 16pt;
  }
  #column_one, #column_two {
    width: 35%
  }
  #column_two {
    left: 30%
  }
  img {
    left: 30%;
    max-width: 69%;
  }

}*/

@media only screen and (max-width: 800pt) {
  p {
    font-size: 14pt;
  }
  #column_one, #column_two {
    width: 40%
  }
  #column_two {
    left: 45%
  }
  img {
    left: 1%;
    max-width: 98%;
    max-height: 85%;
  }
}

@media only screen and (max-width: 500pt) {
    p {
      font-size: 12pt;
    }
}
